<!-- src/app/layouts/admin-layout/admin-layout.component.html -->
<div class="admin-layout">
  <aside class="sidebar">
    <div class="logo">🛒 ECOM ADMIN</div>
    <nav>
      <a >Dashboard</a>
      <a >Products</a>
      <a routerLink="/admin/category" routerLinkActive="active" >Categories</a>
      <a >Companies</a>
      <a >Orders</a>
      <a >Feedback</a>
      <a >Enquiries</a>
    </nav>
    <button class="logout" (click)="logout()" >Logout</button>
  </aside>

  <main class="main-content">
    <header class="topbar">
      <h2>Admin Dashboard</h2>
    </header>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
