<!-- <div class="row">
    <img src="/assets/logo.png" class="img image-fluid h-50 bordered bg-secondary" alt="Logo">
</div>
<div class="container-fluid">
    <div class="main-img row">
        <div class="col-6">
            <p id="p1">
                <i> 100% Chemical free <br>
                    & Neutrient rich</i> <br>
            </p>
            <p id="p2"> Hydroponic Vegetables</p>
        </div>
    </div>
</div>
<div class="section2 ">
    <div class="row bg-light   d-flex justify-content-center align-items-center">
        <div class="col-md-8 ">
            <p class="circlepara">100% Organically-grown Hydroponics Vegetables</p>
        </div>
    </div>
    <div class="row">
        <div class="imgcircle col-md-4"></div>
        <div class="imgcircle col-md-4"></div>
        <div class="imgcircle col-md-4"></div>
    </div>
</div> -->
<div class="container-fluid p-0">

    <div class="row main-img m-0">
        <div class="col-md-6">
            <p id="p1">
                <i>100% Chemical free <br>
                & Neutrient rich</i>
            </p>
            <p id="p2">Hydroponic Vegetables</p>
        </div>
    </div>

</div>

<div class="section2">
    
    <div class="row bg-light justify-content-center align-items-center m-0">
        <div class="col-md-8">
            <p class="circlepara">
                100% Organically-grown Hydroponics Vegetables
            </p>
        </div>
    </div>

    <div class="row m-0 d-flex justify-content-center">
        <div class="col-md-4 imgcircle mx-5 w-25 rounded-circle">
            <img src="" alt="">
        </div>
        <div class="col-md-4 imgcircle mx-5 w-25 rounded-circle">
            <img src="" alt="">
        </div>
        <div class="col-md-4 imgcircle mx-5 w-25 rounded-circle">
            <img src="" alt="">
        </div>
    </div>

</div>